<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skydog.dao.AddressDao">
    <resultMap id="addressMap" type="Address">

        <id property="addressId" column="addressId"></id>
        <result property="userId" column="userId"></result>
        <result property="consigneeName" column="consigneeName"></result>
        <result property="consigneePhone" column="consigneePhone"></result>
        <result property="zone" column="zone"></result>
        <result property="fullAddress" column="fullAddress"></result>
        <result property="isDefault" column="isDefault"></result>

    </resultMap>
    <!-- 添加 -->
    <insert id="add" parameterType="Address">
        insert into tb_address
        <trim prefix="  values ("
              suffix=")" suffixOverrides=",">
            <if test="consigneeName != null">
                #{consigneeName},
            </if>
            <if test="consigneePhone != null">
                #{consigneePhone},
            </if>
            <if test="zone != null">
                #{zone},
            </if>
            <if test="fullAddress != null">
                #{fullAddress},
            </if>
            <if test="isDefault != null">
                #{isDefault},
            </if>
        </trim>
    </insert>


    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_address a
        where a.addressId = #{addressId}
    </delete>

    <!-- 动态更新 -->
    <update id="update" parameterType="Address">
        update tb_address a
        <set>
            <if test="addressId!=null">
                a.addressId=#{addressId},
            </if>
            <if test="userId!=null">
                a.userId=#{userId},
            </if>
            <if test="consigneeName!=null">
                a.consigneeName=#{consigneeName},
            </if>
            <if test="zone!=null">
                a.zone=#{zone},
            </if>
            <if test="fullAddress!=null">
                a.fullAddress=#{fullAddress},
            </if>
            <if test="isDefault!=null">
                a.isDefault=#{isDefault},
            </if>
        </set>
        where a.addressId = #{addressId}
    </update>

    <!-- 查询所有地址 -->
    <select id="queryId" parameterType="int" >
        select *
        from tb_address a
        where a.addressId = #{addressId}
    </select>


    <!--        <sql id="selectActive">-->
    <!--            <where>-->
    <!--                <if test="userId != null">-->
    <!--                    u.userId = #{userId}-->
    <!--                </if>-->
    <!--                <if test="userName != null">-->
    <!--                    and u.userName = like-->
    <!--                    concat('%',#{userName},'%')-->
    <!--                </if>-->
    <!--                <if test="nick != null">-->
    <!--                    and u.nick =like-->
    <!--                    concat('%',#{nick},'%')-->
    <!--                </if>-->
    <!--                <if test="phone != null">-->
    <!--                    and u.phone = like-->
    <!--                    concat('%',#{phone},'%')-->
    <!--                </if>-->
    <!--                <if test="gender != null">-->
    <!--                    and u.gender = #{gender}-->
    <!--                </if>-->
    <!--            </where>-->
    <!--        </sql>-->

    <!-- 动态模糊查询 -->
    <!--    <select id="queryCondition" resultType="Address">-->
    <!--         /*select * from tb_address a*/-->
    <!--        &lt;!&ndash; 查询条件 &ndash;&gt;-->
    <!--        &lt;!&ndash;        <include refid="selectActive"/>&ndash;&gt;-->
    <!--    </select>-->


    <!--    <delete id="batchDelete" parameterType="List">-->

    <!--    </delete>-->


</mapper>