<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.skydog.dao.CartDao">
    <resultMap id="cartMap" type="com.example.skydog.module.entity.Cart">
        <id property="cartId" column="cartId"></id>
        <result property="userId" column="userId"></result>
        <result property="productId" column="productId"></result>
        <result property="scaleId" column="scaleId"></result>
        <result property="productCount" column="productCount"></result>
        <result property="joinTime" column="joinTime"></result>

        <association property="productDto" column="productId" javaType="com.example.skydog.module.dto.ProductDto"
                     resultMap="com.example.skydog.module.entity.Product.ProductDtoMap"></association>
    </resultMap>

    <!--插入数据 -->
    <insert id="add">
        insert into tb_cart
        values(#{cartId},#{userId},#{productId},#{scaleId},#{featureId},#{productCount},#{joinTime})
    </insert>
    <!--指量添加数据 -->
    <insert id="batchAdd" >
        <foreach collection="list" item="cart" separator=";">
            insert into tb_cart
            values(#{cartId},#{userId},#{productId},#{scaleId},#{featureId},#{productCount},#{joinTime})
        </foreach>
    </insert>
    <!--  删除数据  -->
    <delete id="delete">
        DELETE from tb_cart
        where cartId = #{cartId}
    </delete>
    <!--  批量删除  -->
    <delete id="batchDelete">
        <foreach collection="list" item="cartId" separator=";">
            DELETE from tb_cart
            where cartId = #{cartId}
        </foreach>
    </delete>
    <!--    添加，修改if判断-->
    <sql id="cartIf">
        <if test="cartId != null">
            #{cartId},
        </if>
        <if test="userId != null">
            #{userId},
        </if>
        <if test="productId != null">
            #{productId},
        </if>
        <if test="scaleId != null">
            #{scaleId},
        </if>
        <if test="featureId != null">
            #{featureId},
        </if>
        <if test="productCount != null">
            #{productCount},
        </if>
        <if test="joinTime != null">
            #{joinTime},
        </if>

    </sql>
    <!--修改数据-->
    <update id="update">
        update tb_cart
        <set>
            <include refid="cartIf"></include>
        </set>
        where cartId = #{cartId}
    </update>
    <sql id="selectActive">
        <where>
            <if test="cartId != null">
                r.cartId = #{cartId},
            </if>
            <if test="userId != null">
                and r.userId = #{userId},
            </if>
            <if test="productId != null">
                and r.productId = #{productId},
            </if>
            <if test="scaleId != null">
                and r.scaleId = #{scaleId},
            </if>
            <if test="featureId != null">
                and r.featureId = #{featureId},
            </if>
            <if test="productCount != null">
                and r.productCount = #{productCount},
            </if>
            <if test="joinTime != null">
                and r.joinTime = #{joinTime},
            </if>
        </where>
    </sql>
    <!--    通过id查询-->
    <select id="queryId">
        select * from tb_cart r
        where r.productId = #{productId}
    </select>
    <!--    动态模糊查询-->
    <select id="queryCondition">
        select * from tb_cart r
        <!-- 查询条件 -->
        <include refid="selectActive"/>
    </select>
    <!--    查询自己购物车-->
    <select id="getMyCart" resultMap="cartMap">
        select c.*,p.*,s.* from tb_user u
        LEFT JOIN tb_cart c ON (u.userId = c.userId)
        LEFT JOIN tb_product p ON (c.productId = p.productId)
        LEFT JOIN tb_scale s ON (c.scaleId = s.scaleId)
    </select>
</mapper>