<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.skydog.dao.CollectDao">

    <insert id="add" parameterType="Collect">
        insert into tb_collect
        values (#{userId}, #{productId}, #{collectTime})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from tb_collect c
        where c.userId = #{uerId}
        and c.productId = #{productId}
    </delete>

    <select id="queryAll" parameterType="int">
        select p.*
        from tb_user u,
             tb_collect c,
             tb_product p
        where c.userId = u.userId
          and c.productId = p.productId
          and c.userId = #{userId}
    </select>

    <select id="queryAll" parameterType="int">
        select p.*
        from tb_user u,
             tb_collect c,
             tb_product p
        where c.userId = u.userId
          and c.productId = p.productId
          and c.userId = #{userId}
    </select>


    <select id="queryCondition" parameterType="Collect" >
        select * from tb_collect c
        <where>
            <if test="userId!=null">
                and c.userId = #{userId}
            </if>
            <if test="productId!=null">
                and c.productId = #{productId}
            </if>
            <if test="collectTime!=null">
                and c.collectTime = #{collectTime}
            </if>
        </where>
    </select>
    <!-- 批量删除 -->
</mapper>